<div class="container">
  <form>
    <div class="form-header">
      <div class="form-header-btns">
        <div class="left"></div>
        <div class="right">
          <div class="icon-container">
            <i class="fa-solid fa-floppy-disk"></i>
            <div class="icon-text">Save</div>
          </div>
          <div class="icon-container cancel">
            <i class="fa-solid fa-xmark"></i>
            <div class="icon-text">Close</div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-box w100">
      <label>Product Name</label>
      <input type="text" />
    </div>
    <div class="form-box w100">
      <label>Product Number</label>
      <input type="text" />
    </div>
    <div class="form-box w100">
      <label>Box Size</label>
      <input type="text" />
    </div>
    <div class="form-box w100">
      <label>Weight</label>
      <input type="text" />
    </div>
    <div class="form-box w100">
      <label>Qty</label>
      <input type="text" />
    </div>
    <div class="form-box w100">
      <label>Product Description</label>
      <input type="text" />
    </div>
    <button class="btn btn-submit">Save</button>
  </form>
</div>
