<header class="header">
  <nav class="nav-left">
    <ul>
      <li>
        <span class="brand">OMT</span>
      </li>
      <li class="dropdown">
        <a class="drop-btn">Order</a>
        <div class="dropdown-content">
          <a routerLink="order-create" routerLinkActive="active">Create</a>
          <a routerLink="find-order" routerLinkActive="active">Find</a>
        </div>
      </li>
      <li class="dropdown">
        <a class="drop-btn">Product</a>
        <div class="dropdown-content">
          <a routerLink="create-product" routerLinkActive="active">Create</a>
          <a routerLink="find-product" routerLinkActive="active">Find</a>
        </div>
      </li>
    </ul>
  </nav>
  <nav>
    <ul class="nav-right">
      <li>
        <a routerLink="login" routerLinkActive="active">Login</a>
      </li>
      <li>
        <a>Logout</a>
      </li>
    </ul>
  </nav>
</header>
