<header class="header">
  <nav class="nav-left">
    <ul>
      <li>
        <span class="brand">OMT</span>
      </li>
      <li>
        <a routerLink="order-create" routerLinkActive="active">Create Order</a>
      </li>
      <li>
        <a routerLink="find-order" routerLinkActive="active">Find Order</a>
      </li>
      <li>
        <a routerLink="create-product" routerLinkActive="active"
          >Create Product</a
        >
      </li>
      <li>
        <a routerLink="find-product" routerLinkActive="active">Find Product</a>
      </li>
    </ul>
  </nav>
  <nav>
    <ul class="nav-right">
      <li>
        <a routerLink="login" routerLinkActive="active">Login</a>
      </li>
      <li>
        <a>Logout</a>
      </li>
    </ul>
  </nav>
</header>
