.wrapper {
  width: 500px;
  height: 80vh;
  margin: auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.title {
  color: #111827;
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.form-box-stacked {
  width: 100%;
  margin-bottom: 4rem;
}

input:focus {
  box-shadow: 0 0 0 2px #4f46e5;
}
.input-stack-top {
  border-radius: 6px 6px 0 0;
  margin-bottom: 3px;
}
.input-stack-bot {
  border-radius: 0 0 6px 6px;
}

