form {
  padding: 1rem;
  padding-top: 0;
}
.form-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
  gap: 5px;
  align-items: flex-end;
}
.form-header {
  padding-bottom: 0.5rem;
  border-bottom: solid 1px #e5e7eb;
  font-size: 1.1rem;
  margin: 1rem 0;
}
.form-header-btns {
  display: flex;
  justify-content: space-between;
}
.right {
  display: flex;
  gap: 10px;
}
.form-footer {
  margin-top: 1rem;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  flex-wrap: wrap;
}
input, select, .btn-form {
  padding: 0.4rem 0.2rem;
  height: 35px;
  border-radius: 6px;
}

.form-box {
  width: 200px;
  min-width: 150px;
}
.w100 {
  width: 100%;
}
.xl {
  width: 450px;
  max-width: 350px;
}
.lg {
  width: 300px;
  max-width: 250px;
}
.sm {
  width: 100px;
  min-width: 100px;
}
.row-title {
  padding-bottom: 0.3rem;
  border-bottom: solid 1px #e5e7eb;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
.btn {
  width: 300px;
}
.btn-submit {
  width: 450px;
}

.icon-container {
  padding: 0.4rem;
  width: 55px;
  height: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.icon-text {
  font-size: 0.8rem;
}
.fa-solid {
  font-size: 1.4rem;
  margin-bottom: 0.3rem;
}
.icon-container:hover {
  background-color: #e5e7eb;
}
.cancel:hover {
  color: red;
}
.tabs {
  display: flex;
  gap: 10px;
  align-items: center;
}
.tab {
  border-bottom: transparent 10px solid;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  margin-bottom: 1rem;
}
.tab:hover:not(.selected-tab) {
  background-color: #e6e6e6;
  color: #111827;
}
.selected-tab {
  color: #4f46e5;
  border-bottom: 10px solid #4f46e5;
  transition: ease-in 0.5s;
}
