<div class="container">
  <form>
    <div class="form-header">
      <div class="form-header-btns">
        <div class="left">
          <div class="icon-container">
            <i class="fa-solid fa-book-open"></i>
            <div class="icon-text">Notes</div>
          </div>
        </div>
        <div class="right">
          <div class="icon-container">
            <i class="fa-solid fa-rotate"></i>
            <div class="icon-text">Refresh</div>
          </div>
          <div class="icon-container">
            <i class="fa-solid fa-floppy-disk"></i>
            <div class="icon-text">Save</div>
          </div>
          <div class="icon-container cancel">
            <i class="fa-solid fa-xmark"></i>
            <div class="icon-text">Close</div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <app-order-table></app-order-table>
    </div>
    <div class="tabs">
      <span
        [ngClass]="{ 'selected-tab': tab === selectedTab }"
        class="tab selected-tab"
        (click)="selectTab(tab)"
        *ngFor="let tab of tabs"
        >{{ tab }}</span
      >
    </div>
    <div
      *ngIf="selectedTab === 'Status' || selectedTab === 'All'"
      class="tab-container"
    >
      <div class="row-title">Status Info</div>
      <div class="form-row">
        <div class="form-box">
          <label>Agent Name</label>
          <input type="text" />
        </div>
        <div class="form-box">
          <label>Agent Id</label>
          <input type="text" />
        </div>
        <div class="form-box">
          <label>Agent Email</label>
          <input type="text" />
        </div>
      </div>
      <div class="form-row">
        <div class="form-box">
          <label>Status</label>
          <select>
            <option>Open</option>
            <option>Close</option>
            <option>Pending</option>
            <option>Canceled</option>
          </select>
        </div>
        <div class="form-box">
          <label>Created By</label>
          <input type="text" readonly />
        </div>
        <div class="form-box">
          <label>Closed By</label>
          <input type="text" readonly />
        </div>
        <div class="form-box">
          <label>Canceled By</label>
          <input type="text" readonly />
        </div>
        <div class="form-box">
          <label>Processed By</label>
          <input type="text" readonly />
        </div>
        <div class="form-box">
          <label>Updated By</label>
          <input type="text" readonly />
        </div>
      </div>
      <div class="form-row">
        <div class="form-box">
          <label>Order Id</label>
          <input type="text" readonly />
        </div>
        <div class="form-box">
          <label>Created At</label>
          <input type="text" readonly />
        </div>
        <div class="form-box">
          <label>Closed At</label>
          <input type="text" readonly />
        </div>
        <div class="form-box">
          <label>Canceled At</label>
          <input type="text" readonly />
        </div>
        <div class="form-box">
          <label>Processed At</label>
          <input type="text" readonly />
        </div>
        <div class="form-box">
          <label>Updated At</label>
          <input type="text" readonly />
        </div>
      </div>
    </div>
    <div
      *ngIf="selectedTab === 'Customer' || selectedTab === 'All'"
      class="tab-container"
    >
      <div class="row-title">Customer</div>
      <div class="form-row">
        <div class="form-box">
          <label>Customer Name</label>
          <input type="text" />
        </div>
        <div class="form-box">
          <label>Customer Last Name</label>
          <input type="text" />
        </div>
        <div class="form-box">
          <label>Customer Email</label>
          <input type="text" />
        </div>
        <div class="form-box">
          <label>Customer Phone</label>
          <input type="text" />
        </div>
      </div>
      <div class="form-row">
        <div class="form-box lg">
          <label>Address</label>
          <input type="text" />
        </div>
        <div class="form-box">
          <label>City</label>
          <input type="text" />
        </div>
        <div class="form-box">
          <label>State</label>
          <input type="text" />
        </div>
        <div class="form-box sm">
          <label>Zip</label>
          <input type="text" />
        </div>
      </div>
      <div class="form-row">
        <button class="btn-form">Change Customer</button>
        <button class="btn-form">Edit Customer</button>
        <button class="btn-form">Create Customer</button>
      </div>
    </div>
    <div
      *ngIf="selectedTab === 'Cart' || selectedTab === 'All'"
      class="tab-container"
    >
      <div class="row-title">Products</div>
      <div class="form-row">
        <div class="form-box">
          <label>Product Name</label>
          <input type="text" />
        </div>
        <div class="form-box">
          <label>Product Number</label>
          <input type="text" />
        </div>
        <div class="form-box sm">
          <label>Box Size</label>
          <input type="text" />
        </div>
        <div class="form-box sm">
          <label>Weight</label>
          <input type="text" />
        </div>
        <div class="form-box xl">
          <label>Product Description</label>
          <input type="text" />
        </div>
        <button class="btn-form">Add</button>
      </div>
      <div class="row-title"></div>
      <div *ngFor="let product of products" class="form-row">
        <div class="form-box">
          <label>Product Name</label>
          <input type="text" readonly />
        </div>
        <div class="form-box">
          <label>Product Number</label>
          <input type="text" readonly />
        </div>
        <div class="form-box sm">
          <label>Box Size</label>
          <input type="text" readonly />
        </div>
        <div class="form-box sm">
          <label>Weight</label>
          <input type="text" readonly />
        </div>
        <div class="form-box xl">
          <label>Product Description</label>
          <input type="text" readonly />
        </div>
        <button class="btn-form cancel">Remove</button>
      </div>
    </div>
    <div
      *ngIf="selectedTab === 'Ship from' || selectedTab === 'All'"
      class="tab-container"
    >
      <div class="row-title">Ship from Address</div>
      <div class="form-row">
        <div class="form-box w100">
          <label>Select Stocking Location</label>
          <app-sl-table
            (selectedLocationEmiter)="selectedLocation($event)"
          ></app-sl-table>
        </div>
      </div>
      <div class="row-title">Selected Stocking Location</div>
      <div
        class="form-row"
        *ngFor="let location of selectedLocations; let i = index"
      >
        <div class="form-box">
          <label>Id</label>
          <input type="text" readonly [value]="location.id" />
        </div>
        <div class="form-box">
          <label>Address</label>
          <input type="text" readonly [value]="location.address" />
        </div>
        <div class="form-box">
          <label>City</label>
          <input type="text" readonly [value]="location.city" />
        </div>
        <div class="form-box sm">
          <label>State</label>
          <input type="text" readonly [value]="location.state" />
        </div>
        <div class="form-box sm">
          <label>Zip</label>
          <input type="text" readonly [value]="location.zip" />
        </div>
        <div class="form-box xsm">
          <label>Qty.</label>
          <input type="text" readonly [value]="location.quantity" />
        </div>
        <div class="form-box sm">
          <label>Distance (m)</label>
          <input type="text" readonly [value]="location.distance" />
        </div>
        <button
          type="button"
          class="btn-form cancel"
          (click)="removeSelectedLocation(i)"
        >
          Remove
        </button>
      </div>
    </div>
    <div class="form-footer">
      <button class="btn cancel">Cancel</button>
      <button class="btn btn-submit" type="submit">Submit Order</button>
    </div>
  </form>
</div>
